<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:include="include::header"></div>
	<div th:object="${user}">
		<span th:text="*{'id:'+id}"></span>
		<span th:text="*{'username:'+username}"></span>
        <span th:text="*{'password:'+password}"></span>
	</div>
	<div th:text="#{msg}"></div>
	<a th:herf="@{login}"></a>
	<p th:text='${#dates.format(#request.getAttribute("date"),"yyyy-mm-dd")}'>
	<div th:include="include :: footer"></div>
</body>
</html>